@model IEnumerable<PersimosMVC.Models.Profesionales>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClinica.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm())
{

    <p>
        Nombre:@Html.TextBox("BuscarNombre")<br />
        <br />
        <input type="submit" value="Buscar" />
    </p>

}

<p>
        @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Profesional)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especialidad.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Profesional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad.Nombre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
